ISE project files
*.bit
*.bin
*.bgn
*.cmd
*.cmd_log
*.drc
*.exe
*.gise
*.html
*.lso
*.mrp
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.vcd
*.xmsgs
*.xpi
*.xst
*.xwbt
*.xise_autosave
*.ise
__xps
__xil
*_xmsgs/
iseconfig/

# ISim
isim/
*.wdb
*.vcd
*.lso
*.log
*.wcfg
*.bak
*.jou
xilinxsim.ini

# Backup & OS clutter
*~
*.backup
*.tmp
.DS_Store
Thumbs.db
